.mainDiv{

    max-width: 90vw !important;

}

.employeesOnLeave {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;
    /* border: 1px solid #e0e0e0; */
}

.seperateDates {
    /* width: 15%; */
    min-height: 200px;
    max-height: 200px;
    overflow: scroll;
    border: 1px solid #e0e0e0;
    margin: 12px 0px;
    flex: 0 0 calc(14%); /* 20% width with some space between items */
    box-sizing: border-box; /* Include padding and border in the width */
}

  

.seperateDates::-webkit-scrollbar {
    display: none;
}

.currentDate {
    text-align: center;
    background-color: #191728;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
}

.employeesOnLeaves {
    text-align: left;
    padding: 10px;
    overflow-x: scroll;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calender-text{

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 6px;
}


.employeesOnLeave a:hover {
    color: #4f4f4f;
}

.employeesOnLeaves::-webkit-scrollbar {
    display: none;
}

.employeesOnLeave a {
    color: #4f4f4f;
    border: 1px solid #b5b5b5;
    box-shadow: 0px 0px 2px #b5b5b5;
    word-wrap: ellipsis;
    border-radius: 12px 4px 4px 4px;
}

/* .mainDiv {
    height: calc(100vh - 79px);
} */