


.container {

    max-width: none !important;
    width: 100% !important;
    height: max-content;
    min-height: calc(100vh - 85px);
    overflow: scroll;

}

.manageLeaveContainer , .manageHolidaysContainer{

    width: 50% !important;

}

.container::-webkit-scrollbar{
    display: none;
}

.table-container{

    width: max-content;
    min-width: calc( 100% - 25px );

}

.tablecontent {
    width: 100%;
}

.tablecontent th {
    padding: 12px;
    background-color: #11101D;
    color: white;
    text-align: center;
}

.tablecontent td {
    text-align: center;
    padding: 5px;
}

.manage-leaves-reason{

    word-wrap: break-word;

}

.INACTIVE-btn{

    background-color: #c93c3c;

}
